<section id="secB">
  <div id="homeinfo"> 
    <div id="homepage">
      <h1>Bored?</h1>
      <p> Search through fun hotspots around you</p>
    </div>

    <div id="homepageButton">
      <a href=".#/templates/list" class="btn btn-success btn-lg" role="button">ENTER HERE</a>
    </div>
  </div>

  <footer>
    <a href=""><img src="img/email.png" alt="mail logo"></a>
    <a href=""><img src="img/fb.png" alt="facebook logo"></a>
    <a href=""><img src="img/tw.png" alt="twitter logo"></a>
  </footer>
</section>