<section>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid" id="selfnav">
      <div class="navbar-header">
        <a class="navbar-brand" href=".#/templates/home">Leisure Spots</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href=".#/templates/home">Home</a></li>
          <li class="active"><a href=".#/templates/list">Hotspots</a></li> 
          <li><a href=".#/templates/form">Create New Hotspot</a></li>  
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center" id="jumbo">
    <h1>{{spots.length}} Hotspots and Still Counting...</h1>
    <p>Look Through For The Closest Funspot</p>
  </div>

  <div class="content">
    <ul ng-repeat="item in spots">     
      <div class="grid" id="bordered">
        <figure class="effects">
          <img ng-src="{{item.Image}}" alt="hotspot logo"/>
          <figcaption>
            <h2>{{item.Name}}</h2>
            <p>
              {{item.Address}}
              {{item.Email}}
              {{ item.Website }}
            </p>
          </figcaption>   
        </figure>
        <figure class="effects">
          <img src="img/black.png" alt="random image"/>
          <figcaption>
            <h2><i class="fa fa-phone"></i>{{item.Phone_Number}}</h2>
            <p>{{"#"}}{{item.Costs }}{{ " | " }} {{item.working_hours}}{{ " | " }}{{item.Menu}}</p>
            <p> {{ item.Description }}</p>
          </figcaption>     
        </figure>
        <div id="butt">
          <button type="button" id="edBut" class="btn btn-success btn-lg" ng-click="edit(item._id, item.Image, item.Name, item.Address, item.Phone_Number, item.Email, item.Website, item.Costs, item.working_hours, item.Menu, item.Rating, item.Description, item.Tags)">Edit {{item.Name}}</button> 
        </div>
      </div>
      </ul>
    </div>
  </div>

  <div id="overlay" ng-show="show">  
    <div id="wrapper">

      <h1>Update Fun Spot</h1>
            
      <form onsubmit="return false" ng-submit="editSpot()">
        <div class="col-2">
          <label>
            Name
            <input placeholder="Full FunSpot name" id="name" tabindex="1" ng-model="name" required>
          </label>
        </div>
        <div class="col-2">
          <label>
            Address
            <input placeholder="Street Address, City & State" id="company" tabindex="2" ng-model="address" required>
          </label>
        </div>
        <div class="col-2">
          <label>
            Description
            <input placeholder="Give a complete description of the spot" tabindex="3" ng-model="description" maxlength="110" required>
          </label>
        </div>
        <div class="col-4">
          <label>
            Email
            <input placeholder="e.g. olucheye@example.com" type="email" ng-model="email" maxlength="20" tabindex="4" required>
          </label>
        </div>
        <div class="col-4">
          <label>
            Phone Number
            <input placeholder="e.g. 01-330-6655" tabindex="5" ng-model="phone_number" maxlength="9" required>
          </label>
        </div> 
        <div class="col-4">
          <label>
            Costs
            <input placeholder="Minimum Cost" id="experience" name="experience" tabindex="6" ng-model="costs" maxlength="8" required>
          </label>
        </div>       
        <div class="col-2">
          <label>
            <b>Image -:</b>
            <span>Kindly click <a href="http://www.postimg.org" target="_blank">here</a> to upload your image. Copy and paste the subsequent "DIRECT LINK" in the space below</span>
            <input type="text" placeholder="Paste Image Link Here" tabindex="7" ng-model="image" required>
          </label>
        </div>
        <div class="col-4">
          <label>
            Website
            <input placeholder="e.g. www.example.org" tabindex="8" type="website" ng-model="website" maxlength="20"required>
          </label>
        </div> 
        <div class="col-4">
          <label>
            Rating
            <input placeholder="Rating out of 5" id="email" tabindex="9" ng-model="rating" maxlength="1" required>
          </label>
        </div>
        <div class="col-4">
          <label>
            Tags
            <input placeholder="List a few popular tags" id="skills" tabindex="10" ng-model="tags" required>
          </label>
        </div>
        <div class="col-4">
          <label>
            Menu
            <input placeholder="Unique menu's & drinks" tabindex="11" ng-model="menu" required>
          </label>
        </div>
        <div class="col-4">
          <label>
            Working Hours
            <input placeholder="e.g. 7am - 7pm" tabindex="12" ng-model="working_hours" maxlength="9" required>
          </label>
        </div>
        <div class="col-submit">
          <input type="submit" value="UPDATE" class="btn btn-info btn-block">
        </div>
      </form>
    </div>
  </div>

  <footer>
    <a href=""><img src="img/email.png" alt="mail logo"></a>
    <a href=""><img src="img/fb.png" alt="facebook logo"></a>
    <a href=""><img src="img/tw.png" alt="twitter logo"></a>
  </footer> 
  
</section>
